<div id="page_container">


<h1>Item Details</h1>

<a routerLink="/">
  <div id="buttonContainer">
  <button class="button button3">Logout</button>
  </div>
</a>

<a routerLink="/products">
  <div id="button3Container">
  <button class="button button3">Products</button>
  </div>
</a>


<a routerLink="/checkout">
  <div id="button2Container">
  <button class="button button3">Checkout</button>
  </div>
</a>



<div class="container">

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col"># of items in stock</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td >{{product$.name.name}}</td>
      <td>${{product$.price.price}}</td>
      <td>{{product$.items_in_stock.items_in_stock}}</td>
      <td><input type="text" placeholder="1" name="fname" size="3" id = "number" #number></td>
      <td><button class="myButton" (click)="sessionCall(product$.name.name,number.value)">Add To Cart</button></td>
    </tr>


  </tbody>
</table>






</div>


<div id="description2">{{product$.description.description}}</div>
<br>


<img id="myimg" src="{{product$.image.imgurl}}" alt="Paris" style="width:150;border:3px solid;" class="center">




</div>
